# caddy file
https://persianccbook.org {
	reverse_proxy /api/* 127.0.0.1:8000
	reverse_proxt /admin/* 127.0.0.1:8000
	reverse_proxy /* localhost:3000
  	file_server /static {
    	root /srv/http/static
  	}
  	file_server /media {
    	root /srv/http/media
  	}
}
